<!DOCTYPE html>
<html>
    <head>
        <title>To Do List</title>
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Varela+Round&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5a93e093fd.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/styles.css">
    </head>
</html>